{{define "title"}}{{T .Lang "404.page_not_found"}}{{end}}

{{define "body"}}
<div class="container error-container">
    <div class="error-card">
        <div class="error-icon-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
            </svg>
        </div>
        <h2 class="error-title">{{T .Lang "404.page_not_found"}}</h2>
        <p class="error-text">{{T .Lang "404.page_not_found_prompt"}}</p>
        <div class="error-url">
            {{.Url}}
        </div>

        {{if .HomeURL}}
        <p class="error-text-secondary">{{T .Lang "404.page_not_found_suggestion"}}</p>
        {{end}}

        <div class="error-actions">
            <button onclick="history.back()" class="btn error-btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                </svg>                {{T .Lang "404.go_back"}}
            </button>
            {{if .HomeURL}}
            <a href="{{.HomeURL}}" class="btn primary error-btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                </svg>
                {{T .Lang "404.archive_home"}}
            </a>
            {{else}}
            <a href="/" class="btn primary error-btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                </svg>
                {{T .Lang "404.server_home"}}
            </a>
            {{end}}
        </div>
    </div>
</div>
{{end}}